<section class="text-warning frost-wide">
    <h1>Error <% response.status %></h1>    
</section>

<section id="abs-center" class="text-white frost">
    <div>
            <p>
                It seems there was a problem. Please return to
                <a href="/"> the home page</a>
                and try again.
            </p>
    </div>
</section>