<div id="abs-center" class="frost" style="width: 18rem;">
  <div class="card-body">
    <div class="card-title">
      <img src="images/stocky_logo.png" class="img-fluid img-stocky">
    </div>
    <h6 class="card-subtitle text-light">
      Your Basic Stock Research Platform
    </h6>
    <hr>
    <p class="card-text">
        <button type="button" class="btn btn-outline-primary rounded-0" data-toggle="modal" data-target="#signModal">
          Sign Up
        </button>
        <button type="button" class="btn btn-outline-success rounded-0" data-toggle="modal" data-target="#logModal">
          Log In
        </button>
    </p>
  </div>
</div>


<!-- The Modal Login -->
<div class="modal fade" id="logModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-0">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <form action="/login" method="POST">
      <div class="modal-body">
        <div class="form-group">
          <input name="username" placeholder="Enter username" type="text" class="form-control rounded-0"/>
        </div>
        <div class="form-group">
          <input name="password" placeholder="Enter password" type="password" class="form-control rounded-0"/>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-success rounded-0">Login</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- The Modal SignUp -->
<div class="modal fade" id="signModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-0">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <form action="/signup" method="POST">
      <div class="modal-body">
        <div class="form-group">
          <input name="username" placeholder="Enter username" type="text" class="form-control rounded-0"/>
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Enter email" aria-describedby="emailHelp" class="form-control rounded-0"/>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <input name="password" placeholder="Enter password" type="password" class="form-control rounded-0"/>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary rounded-0">Sign Up</button>
      </div>
      </form>
    </div>
  </div>
</div>