<h1 style="color: white; margin: 30px 10px;">Expense Categories</h1>

  <div>
    <div>

      <div>
        <div style="background: white; border-radius:10px; margin-top: 10px;">
          <table>
          <tr>
            <th><h3>Name</h3></th>
            <th><h3>Items</h3></th>
            <th><h3>Total</h3></th>
            <th><h3>Edit</h3></th>
            <th><h3>Delete</h3></th>
          </tr>
          <tr style="text-align:left;">
          <td> Portfolio Name </td>
          <td> Stock </td>
          <td> Quantity </td>
          <td>Edit<span></span></a></td>
          <td><form action="" method="post">
              <input type="hidden" id="hidden" name="_method" value="DELETE">
            <button type="submit" >Delete</button>
          </form></td>
        </tr>
          </table> <!-- end table -->

        </div><!-- end jumbotron -->
      </div> <!-- end col-sm-8-->

      <div>
        <div>
            <div>
              <div>
                <h3>Create Category</h3>
              </div>
            </div>

          <div>
            <form  action="/categories" method="post" >
              <div>
                <label>Name</label>
                <input type="text" name="name">
              </div> <!-- end form-group -->
              <button type="submit">Create</button>
            </form> <!-- end form-->
          </div> <!-- end col-sm-4-->
    </div><!-- end row -->
  </div><!-- end container -->
